body{
    
    background-color: rgb(228, 241, 250);
    text-align: center;
    background-image: url(/Users/jainishah/Documents/Github/Portfolio/Portfolio/Images/background1.jpg);
    background-repeat: no-repeat;
    color:darkgoldenrod;
    
}
h3{
    color: #b22222;
}
h1{
    color:rgb(214, 138, 39);
    font-family:'Times New Roman', Times, serif;
}

hr{
    border-style: none;
    border-top-style:double;
    width: 20%;
    border-width: 3px;
}
