body{
    
    background-color: rgb(228, 241, 250);
    text-align: center;
    background-image: url(/Users/jainishah/Documents/Github/Portfolio/Portfolio/Images/background1.jpg);
    background-repeat: no-repeat;
    color:#bdd5f1;
    
}
a:hover{
    font-size: 25px;
    background-color: rgb(235, 153, 53);
}
a{
    color: #bdd5f1;
}
a:visited{
    color: #bdd5f1;            
}
hr{
    color:#053b79
}
h3{
    color;
}
h1{
    font-family: cursive;
}

hr{
    border-style: none;
    border-top-style:double;
    width: 20%;
    border-width: 3px;
}
